.yu-modal-root {
  .yu-modal-mask {
    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .yu-modal-wrap {
    position: fixed;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    overflow: auto;
    outline: 0;
    z-index: 1000;
    .yu-modal {
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0;
      color: rgba(0, 0, 0, 0.88);
      font-size: 14px;
      line-height: 1.5714285714285714;
      list-style: none;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      pointer-events: none;
      position: relative;
      top: 100px;
      width: auto;
      max-width: calc(100vw - 32px);
      padding-bottom: 24px;
      .yu-modal-content {
        position: relative;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
          0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        pointer-events: auto;
        padding: 20px 24px;
        .yu-modal-closeBtn {
          position: absolute;
          top: 17px;
          inset-inline-end: 17px;
          z-index: 1010;
          padding: 0;
          color: rgba(0, 0, 0, 0.45);
          font-weight: 600;
          line-height: 1;
          text-decoration: none;
          background: transparent;
          border-radius: 4px;
          width: 22px;
          height: 22px;
          border: 0;
          outline: 0;
          cursor: pointer;
          transition: color 0.2s, background-color 0.2s;
        }
        .yu-modal-header {
          color: rgba(0, 0, 0, 0.88);
          background: #ffffff;
          border-radius: 8px 8px 0 0;
          margin-bottom: 8px;
          .yu-modal-title {
            margin: 0;
            color: rgba(0, 0, 0, 0.88);
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            word-wrap: break-word;
          }
        }
        .yu-modal-body {
          font-size: 14px;
          line-height: 1.5714285714285714;
          word-wrap: break-word;
        }
        .yu-modal-footer {
          text-align: end;
          background: transparent;
          margin-top: 12px;
        }
      }
    }
  }
}

.yu-modal-enter-active{
  animation: run 0.5s;
}
.yu-modal-leave-active{
  animation: run 0.5s reverse;
}
@keyframes run {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }  
}

